.education-background {
  display: flex;
}

.education-title {
  text-align: center;
  font-size: 18px;
}

.timeline-background {
  margin-top: 32px;
  width: 50%;
}

.timeline-item {
  display: flex;
  margin: auto;
  width: 80%;
  height: 120px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 20px;
  text-align: left;
}

.timeline-item:hover {
  background-color: #CCC;
  
}

.timeline-ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: lightblue;
}

.education-info {
  padding: 24px;
  font-size: 16pt;
  color: #555;
  text-align: center;
}

.education-info h4,
p {
  margin: 0;
}

.highlight-background {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100%);
  background: lightblue;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  justify-content: center;
  align-items: center;
  margin: 32px;
  border-radius: 20px;
  padding: 10px;
}

.highlight-background h1,
h4,
p {
  margin: 8px;
}
